/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui o padding e a borda na largura e altura total do elemento */
}

html, body {
  height: 100%; /* Define a altura do body */
}

/* Define uma fonte padrão, se necessário */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.error-message {
  color: red;
  margin-top: 5px;
}
